body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 35vh;
  padding: 10px;
  border: rgba(37, 37, 71, 0.364) solid px;
  border-radius: 10px;
  background-color: rgb(37, 37, 43);
}